.footer {
    background-color: $footer-bottom-bg;
    padding-top: 3.75rem;
    padding-bottom: 2rem;

    .footer-title {
        font-family: "Open Sans";
        font-size: 1rem;
        font-weight: 700;
        color: #8a8a8a;
        margin-bottom: 1rem;
    }
}

.footer-nav {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;

    li {
        list-style-type: none;
        display: block;
        margin: 0;
        padding: 0;
        margin-bottom: 0.5rem;

        a {
            text-decoration: none;
            color: #fff;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 700;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        display: inline-block;
        position: relative;
        margin-left: 2rem;
        margin-right: 2rem;

        @include media-breakpoint-down(md) {
            width: 45px;
        }
    }

    .footer-logo-line {
        width: 100%;
        height: 2px;
        background-color: #80848e;
        z-index: 1;
    }
}
