// Bootstrap needs
@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/mixins.scss";
@import "../../style/variables.scss";

// Variables

.container {
    background: #e3f4fa;
    text-align: center;
    line-height: 36px;

    @include media-breakpoint-down(md) {
        line-height: 18px;
    }
}

.title {
    text-align: center;
    font-family: "Quicksand";
    color: #000000;

    @include media-breakpoint-down(md) {
        font-size: 12px;
        line-height: 18px;
    }
}
