// Bootstrap needs
@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/mixins.scss";
@import "../../style/variables.scss";

.filters {
    
}

.filter {
    margin-bottom: 2rem;

    .title {
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.25px;
        text-transform: uppercase;
    }

    .filter-value {
    }
}


